@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
/* 
* {
    outline: 1px solid red;
} */

.blob1 {
    background-image: url("blob.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 1000px;
}

.design {
    height: 600px;
    opacity: 0.75;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='600' preserveAspectRatio='none' viewBox='0 0 1920 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1340%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1341%26quot%3b)'%3e%3cpath d='M17.5 297.5L52.5 262.5L87.5 262.5M122.5 297.5L157.5 262.5L192.5 262.5M297.5 297.5L332.5 332.5L367.5 332.5L402.5 332.5M-17.5 297.5L17.5 297.5L52.5 297.5L87.5 297.5L122.5 297.5L157.5 297.5L192.5 297.5L227.5 297.5L262.5 297.5L297.5 297.5L332.5 297.5L367.5 297.5' stroke='rgba(240%2c 185%2c 23%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M358.75 297.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM78.75 262.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM183.75 262.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM393.75 332.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(240%2c 185%2c 23%2c 1)'%3e%3c/path%3e%3cpath d='M332.5 437.5L367.5 402.5L402.5 402.5M192.5 367.5L227.5 402.5M612.5 402.5L647.5 437.5L682.5 437.5M262.5 402.5L297.5 402.5L332.5 402.5M437.5 437.5L472.5 437.5L507.5 437.5M-17.5 332.5L17.5 332.5L52.5 332.5L87.5 332.5L122.5 332.5L157.5 332.5L192.5 367.5L227.5 367.5L262.5 402.5L297.5 437.5L332.5 437.5L367.5 437.5L402.5 437.5L437.5 437.5L472.5 402.5L507.5 402.5L542.5 402.5L577.5 402.5L612.5 402.5L647.5 402.5' stroke='rgba(20%2c 39%2c 78%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M638.75 402.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM393.75 402.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM218.75 402.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM673.75 437.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM323.75 402.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM498.75 437.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(20%2c 39%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M122.5 402.5L157.5 402.5M87.5 367.5L122.5 367.5L157.5 367.5M-17.5 367.5L17.5 367.5L52.5 367.5L87.5 367.5L122.5 402.5L157.5 437.5L192.5 437.5L227.5 437.5' stroke='rgba(20%2c 39%2c 78%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M218.75 437.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM148.75 402.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM148.75 367.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(20%2c 39%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M-17.5 227.5L17.5 227.5L52.5 227.5L87.5 192.5' stroke='rgba(83%2c 83%2c 83%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M78.75 192.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(83%2c 83%2c 83%2c 1)'%3e%3c/path%3e%3cpath d='M262.5 472.5L297.5 507.5L332.5 507.5M437.5 472.5L472.5 507.5L507.5 507.5L542.5 507.5M367.5 507.5L402.5 542.5L437.5 542.5M-17.5 402.5L17.5 402.5L52.5 402.5L87.5 402.5L122.5 437.5L157.5 472.5L192.5 472.5L227.5 472.5L262.5 472.5L297.5 472.5L332.5 472.5L367.5 507.5L402.5 507.5L437.5 472.5L472.5 472.5' stroke='rgba(217%2c 217%2c 217%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M463.75 472.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM323.75 507.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM533.75 507.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM428.75 542.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(217%2c 217%2c 217%2c 1)'%3e%3c/path%3e%3cpath d='M122.5 157.5L157.5 192.5L192.5 192.5L227.5 192.5M192.5 157.5L227.5 122.5L262.5 122.5L297.5 122.5L332.5 122.5M157.5 157.5L192.5 122.5M-17.5 192.5L17.5 192.5L52.5 192.5L87.5 157.5L122.5 157.5L157.5 157.5L192.5 157.5L227.5 157.5' stroke='rgba(217%2c 217%2c 217%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M218.75 157.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM218.75 192.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM323.75 122.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM183.75 122.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(217%2c 217%2c 217%2c 1)'%3e%3c/path%3e%3cpath d='M52.5 437.5L87.5 472.5L122.5 507.5M17.5 437.5L52.5 472.5L87.5 507.5M-17.5 437.5L17.5 437.5L52.5 437.5L87.5 437.5L122.5 472.5L157.5 507.5L192.5 507.5' stroke='rgba(217%2c 217%2c 217%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M183.75 507.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM113.75 507.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM78.75 507.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(217%2c 217%2c 217%2c 1)'%3e%3c/path%3e%3cpath d='M542.5 122.5L577.5 87.5L612.5 87.5L647.5 87.5M472.5 87.5L507.5 122.5M87.5 122.5L122.5 122.5M17.5 157.5L52.5 122.5M752.5 157.5L787.5 192.5L822.5 192.5M437.5 87.5L472.5 122.5L507.5 157.5L542.5 157.5L577.5 157.5M-17.5 157.5L17.5 157.5L52.5 157.5L87.5 122.5L122.5 87.5L157.5 87.5L192.5 87.5L227.5 87.5L262.5 87.5L297.5 87.5L332.5 87.5L367.5 87.5L402.5 87.5L437.5 87.5L472.5 87.5L507.5 87.5L542.5 122.5L577.5 122.5L612.5 122.5L647.5 122.5L682.5 157.5L717.5 157.5L752.5 157.5L787.5 157.5L822.5 157.5' stroke='rgba(83%2c 83%2c 83%2c 1)' stroke-width='5.83'%3e%3c/path%3e%3cpath d='M813.75 157.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM638.75 87.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM498.75 122.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM113.75 122.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM43.75 122.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM813.75 192.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0zM568.75 157.5 a8.75 8.75 0 1 0 17.5 0 a8.75 8.75 0 1 0 -17.5 0z' fill='rgba(83%2c 83%2c 83%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1340'%3e%3crect width='1920' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1341'%3e%3crect width='1920' height='600' fill='white'%3e%3c/rect%3e%3cpath d='M363.12 297.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM83.12 262.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM188.12 262.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM398.12 332.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M643.12 402.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM398.12 402.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM223.12 402.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM678.12 437.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM328.12 402.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM503.12 437.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M223.12 437.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM153.12 402.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM153.12 367.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M83.12 192.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M468.12 472.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM328.12 507.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM538.12 507.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM433.12 542.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M223.12 157.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM223.12 192.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM328.12 122.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM188.12 122.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M188.12 507.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM118.12 507.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM83.12 507.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3cpath d='M818.12 157.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM643.12 87.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM503.12 122.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM118.12 122.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM48.12 122.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM818.12 192.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0zM573.12 157.5 a4.38 4.38 0 1 0 8.76 0 a4.38 4.38 0 1 0 -8.76 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    font-family: "Nunito Sans" !important;
}

.pagination > li > button {
    background-color: transparent;
    color: #14274e !important;
    border-color: #14274e !important;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white !important;
    background-color: #14274e !important;
    border-color: #14274e !important;
}

.pagination > .active > button {
    color: white !important;
    background-color: #14274e !important;
    border: solid 1px #14274e !important;
}

.pagination > .active > button:hover {
    background-color: #14274e !important;
    border: solid 1px #14274e !important;
}

.spinner {
    width: 5rem !important;
    height: 5rem !important;
}

.sidebar {
    min-height: 100vh;
    width: 350px;
}

@media (max-width: 992px) {
    .sidebar {
        width: 100px;
        align-items: center;
        font-size: x-small;
    }

    .sidebar img {
        height: 75px;
    }

    .sidebar span {
        font-size: x-small !important;
    }

    .sidebar .nav-link > span {
        display: none;
    }

    .nav-active {
        border: 0px !important;
    }
}

.form-control {
    text-transform: uppercase;
}

.xsmall {
    font-size: x-small;
}

.text-justify {
    text-align: justify;
}

.grid-list {
    display: grid !important;
    column-gap: 20px;
    padding: 0 !important;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .grid-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-list a {
    text-decoration: none;
    color: #14274e;
}

.grid-list a:hover {
    color: #f0b917;
}

.ff-logo {
    font-family: "Mate SC" !important;
}

.ff-nunito {
    font-family: "Nunito Sans" !important;
}

.form-control-admin {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #c1a1d3 !important;
}

.form-control-cashier {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #91c788 !important;
}

.form-control-ceo {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fed049 !important;
}

.form-control-front {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #ffba93 !important;
}

.form-control-jo {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #8ab6d6 !important;
}

.form-control-tech {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #adb36e !important;
}

.border-gold-7 {
    border-bottom: 7px #f0b917 solid !important;
}

.border-gold-3 {
    border-bottom: 3px #f0b917 solid !important;
}

.border-gold-2 {
    border-bottom: 2px #f0b917 solid !important;
}

.border-navy-3 {
    border-bottom: 3px #14274e solid !important;
}

.border-navy-2 {
    border-bottom: 2px #14274e solid !important;
}

.border-navy-1 {
    border-bottom: 1px #14274e solid !important;
}
.border-navy-all {
    border: 2px #14274e solid !important;
}

@media (min-width: 992px) {
    .border-end-3 {
        border-right: 3px #14274e solid !important;
    }
}

.w-15 {
    width: 15% !important;
}

.btn-jumbo {
    background-color: #14274e !important;
}

.btn-jumbo:hover {
    background-color: white !important;
    color: #14274e !important;
    border-color: #14274e !important;
}

.btn-jumbo:hover p {
    border-color: #14274e !important;
}

.btn-jumbo svg {
    font-size: 8rem;
}

.btn-delete {
    background-color: #fb1e1e !important;
    color: #fff !important;
}

.btn-delete:hover {
    background-color: #fff !important;
    color: #fb1e1e !important;
    border-color: #fb1e1e !important;
}

.btn-navy {
    background-color: #14274e !important;
    color: #fff !important;
}

.btn-navy:hover {
    background-color: #fff !important;
    color: #14274e !important;
    border-color: #14274e !important;
}

.btn-check:checked + .btn-navy {
    background-color: #f0b917 !important;
    color: #14274e !important;
    border-color: #f0b917 !important;
}

.btn-check:checked + .btn-navy:hover {
    background-color: transparent !important;
    color: #f0b917 !important;
    border-color: #f0b917 !important;
}

.btn-custom {
    background-color: #14274e !important;
}

.btn-custom:hover {
    background-color: white !important;
    color: #14274e !important;
    border-color: #14274e !important;
}

.btn-custom p {
    color: #fff;
}

.btn-custom:hover p {
    color: #14274e;
}

.btn-custom:hover svg {
    fill: #14274e !important;
}

.btn-card {
    height: 300px;
    background-color: #14274e !important;
    color: #fff !important;
    font-family: "Nunito Sans";
}

.btn-admin:hover {
    background-color: #14274e !important;
    color: #c1a1d3 !important;
    border-color: #c1a1d3 !important;
}

.btn-cashier:hover {
    background-color: #14274e !important;
    color: #91c788 !important;
    border-color: #91c788 !important;
}

.btn-ceo:hover {
    background-color: #14274e !important;
    color: #fed049 !important;
    border-color: #fed049 !important;
}

.btn-front:hover {
    background-color: #14274e !important;
    color: #ffba93 !important;
    border-color: #ffba93 !important;
}

.btn-jo:hover {
    background-color: #14274e !important;
    color: #8ab6d6 !important;
    border-color: #8ab6d6 !important;
}

.btn-tech:hover {
    background-color: #14274e !important;
    color: #adb36e !important;
    border-color: #adb36e !important;
}

.btn-card:hover {
    background-color: #fff !important;
}

.btn-card:hover img {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    transform: scale(1.5);
    transition: 0.5s;
}

.btn-card:hover .title {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    transform: scale(1.15);
    transition: 0.5s;
}

.col-lg-3.col-sm-12.mx-auto.text-center {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-card {
    opacity: 0;
}

.btn-admin {
    animation: fadeInAnimation ease-in-out 0.5 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-cashier {
    animation: fadeInAnimation ease-in-out 0.5 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-ceo {
    animation: fadeInAnimation ease-in-out 0.5 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-front {
    animation: fadeInAnimation ease-in-out 0.5 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-jo {
    animation: fadeInAnimation ease-in-out 0.5 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-tech {
    animation: fadeInAnimation ease-in-out 0.5 2.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.border-admin {
    border-bottom: 2px #c1a1d3 solid !important;
}

.border-cashier {
    border-bottom: 2px #91c788 solid !important;
}

.border-ceo {
    border-bottom: 2px #fed049 solid !important;
}

.border-front {
    border-bottom: 2px #ffba93 solid !important;
}

.border-jo {
    border-bottom: 2px #8ab6d6 solid !important;
}

.border-tech {
    border-bottom: 2px #adb36e solid !important;
}

.border-top-admin {
    border-top: 1px #c1a1d3 solid;
}

.border-top-cashier {
    border-top: 1px #91c788 solid;
}

.border-top-ceo {
    border-top: 1px #fed049 solid;
}

.border-top-front {
    border-top: 1px #ffba93 solid;
}

.border-top-jo {
    border-top: 1px #8ab6d6 solid;
}

.border-top-tech {
    border-top: 1px #adb36e solid;
}

.border-all-admin {
    border: 2px #c1a1d3 solid;
}

.border-all-cashier {
    border: 2px #91c788 solid;
}

.border-all-ceo {
    border: 2px #fed049 solid;
}

.border-all-front {
    border: 2px #ffba93 solid;
}

.border-all-jo {
    border: 2px #8ab6d6 solid;
}

.border-all-tech {
    border: 2px #adb36e solid;
}

.text-admin {
    color: #c1a1d3;
}

.btn-admin-alt {
    background-color: #c1a1d3 !important;
    color: white !important;
}

.btn-admin-alt:hover {
    background-color: #14274e !important;
    color: #c1a1d3 !important;
    border-color: #c1a1d3 !important;
}

.text-cashier {
    color: #91c788;
}

.btn-cashier-alt {
    background-color: #91c788 !important;
    color: white !important;
}

.btn-cashier-alt:hover {
    background-color: #14274e !important;
    color: #91c788 !important;
    border-color: #91c788 !important;
}

.text-ceo {
    color: #fed049;
}

.btn-ceo-alt {
    background-color: #fed049 !important;
    color: white !important;
}

.btn-ceo-alt:hover {
    background-color: #14274e !important;
    color: #fed049 !important;
    border-color: #fed049 !important;
}

.text-front {
    color: #ffba93;
}

.btn-front-alt {
    background-color: #ffba93 !important;
    color: white !important;
}

.btn-front-alt:hover {
    background-color: #14274e !important;
    color: #ffba93 !important;
    border-color: #ffba93 !important;
}

.text-jo {
    color: #8ab6d6;
}

.btn-jo-alt {
    background-color: #8ab6d6 !important;
    color: white !important;
}

.btn-jo-alt:hover {
    background-color: #14274e !important;
    color: #8ab6d6 !important;
    border-color: #8ab6d6 !important;
}

.text-tech {
    color: #adb36e;
}

.btn-gold {
    color: #14274e !important;
    background-color: #f0b917 !important;
    border-color: #f0b917 !important;
}

.btn-gold:hover {
    color: #f0b917 !important;
    background-color: #14274e !important;
    border-color: #14274e !important;
}

.btn-gold-2 {
    color: #14274e !important;
    background-color: #f0b917 !important;
}

.btn-gold-2:hover {
    color: #f0b917 !important;
    background-color: transparent !important;
}

.btn-tech-alt {
    background-color: #adb36e !important;
    color: white !important;
}

.btn-tech-alt:hover {
    background-color: #14274e !important;
    color: #adb36e !important;
    border-color: #adb36e !important;
}

.bg-navy {
    background-color: #14274e !important;
}

.bg-dark-navy {
    background-color: #0b162a !important;
}

.bg-gold {
    background-color: #f0b917 !important;
}

.text-gold {
    color: #f0b917 !important;
}

.text-navy {
    color: #14274e !important;
}

.active {
    color: white !important;
}

.nav-active {
    background-color: #fff;
    color: #14274e !important;
    border-right: 2px #14274e solid;
}

.nav-item a {
    color: #fff;
}

.nav-item:hover * {
    animation: fadeInAnimation ease 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hover-admin:hover {
    color: #fff !important;
    background-color: #c1a1d3 !important;
}

.hover-cashier:hover {
    color: #fff !important;
    background-color: #91c788 !important;
}

.hover-ceo:hover {
    color: #fff !important;
    background-color: #fed049 !important;
}

.hover-front:hover {
    color: #fff !important;
    background-color: #ffba93 !important;
}

.hover-jo:hover {
    color: #fff !important;
    background-color: #8ab6d6 !important;
}

.hover-tech:hover {
    color: #fff !important;
    background-color: #adb36e !important;
}

#background {
    background-image: url(../assets/Images/Customer/cube.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tint {
    background-color: rgba(0, 0, 0, 0.8);
}

.zoom:hover {
    transform: scale(1.5);
}

.zoom {
    display: block;
    transition: transform 0.75s;
    font-size: 5rem;
}

.portal-logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px #14274e solid;
    transition: transform 1s;
}

.portal-logo:hover {
    transform: scale(1.25);
}
