@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
/* 
* {
    outline: 1px solid red;
} */

body {
    font-family: "Nunito Sans" !important;
}

.pagination > li > button {
    background-color: transparent;
    color: #14274e !important;
    border-color: #14274e !important;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white !important;
    background-color: #14274e !important;
    border-color: white !important;
}

.pagination > .active > button {
    color: white !important;
    background-color: #14274e !important;
    border: solid 1px #14274e !important;
}

.pagination > .active > button:hover {
    background-color: #14274e !important;
    border: solid 1px #14274e !important;
}

.spinner {
    width: 5rem !important;
    height: 5rem !important;
}

.sidebar {
    min-height: 100vh;
    width: 350px;
}

.form-control {
    text-transform: uppercase;
}

.xsmall {
    font-size: x-small;
}

.text-justify {
    text-align: justify;
}

.grid-list {
    display: grid !important;
    column-gap: 20px;
    padding: 0 !important;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .grid-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-list a {
    text-decoration: none;
    color: #14274e;
}

.grid-list a:hover {
    color: #f0b917;
}

.ff-logo {
    font-family: "Mate SC" !important;
}

.ff-nunito {
    font-family: "Nunito Sans" !important;
}

.form-control-admin {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #c1a1d3 !important;
}

.form-control-cashier {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #91c788 !important;
}

.form-control-ceo {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fed049 !important;
}

.form-control-front {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #ffba93 !important;
}

.form-control-jo {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #8ab6d6 !important;
}

.form-control-tech {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #adb36e !important;
}

.border-gold-7 {
    border-bottom: 7px #f0b917 solid !important;
}

.border-gold-3 {
    border-bottom: 3px #f0b917 solid !important;
}

.border-gold-2 {
    border-bottom: 2px #f0b917 solid !important;
}

.border-navy-3 {
    border-bottom: 3px #14274e solid !important;
}

.border-navy-2 {
    border-bottom: 2px #14274e solid !important;
}

.border-navy-1 {
    border-bottom: 1px #14274e solid !important;
}

@media (min-width: 992px) {
    .border-end-3 {
        border-right: 3px #14274e solid !important;
    }
}

.w-15 {
    width: 15% !important;
}

.btn-delete {
    background-color: #fb1e1e !important;
    color: #fff !important;
}

.btn-delete:hover {
    background-color: #fff !important;
    color: #fb1e1e !important;
    border-color: #fb1e1e !important;
}

.btn-navy {
    background-color: #14274e !important;
    color: #fff !important;
}

.btn-navy:hover {
    background-color: #fff !important;
    color: #14274e !important;
    border-color: #14274e !important;
}

.btn-check:checked + .btn-navy {
    background-color: #f0b917 !important;
    color: #14274e !important;
    border-color: #f0b917 !important;
}

.btn-check:checked + .btn-navy:hover {
    background-color: transparent !important;
    color: #f0b917 !important;
    border-color: #f0b917 !important;
}

.btn-custom {
    background-color: #14274e !important;
}

.btn-custom:hover {
    background-color: white !important;
    color: #14274e !important;
    border-color: #14274e !important;
}

.btn-custom p {
    color: #fff;
}

.btn-custom:hover p {
    color: #14274e;
}

.btn-custom:hover svg {
    fill: #14274e !important;
}

.btn-card {
    height: 300px;
    background-color: #14274e !important;
    color: #fff !important;
    font-family: "Nunito Sans";
}

.btn-admin:hover {
    background-color: #14274e !important;
    color: #c1a1d3 !important;
    border-color: #c1a1d3 !important;
}

.btn-cashier:hover {
    background-color: #14274e !important;
    color: #91c788 !important;
    border-color: #91c788 !important;
}

.btn-ceo:hover {
    background-color: #14274e !important;
    color: #fed049 !important;
    border-color: #fed049 !important;
}

.btn-front:hover {
    background-color: #14274e !important;
    color: #ffba93 !important;
    border-color: #ffba93 !important;
}

.btn-jo:hover {
    background-color: #14274e !important;
    color: #8ab6d6 !important;
    border-color: #8ab6d6 !important;
}

.btn-tech:hover {
    background-color: #14274e !important;
    color: #adb36e !important;
    border-color: #adb36e !important;
}

.btn-card:hover {
    background-color: #fff !important;
}

.btn-card:hover img {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    transform: scale(1.5);
    transition: 0.5s;
}

.btn-card:hover .title {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    transform: scale(1.15);
    transition: 0.5s;
}

.col-lg-3.col-sm-12.mx-auto.text-center {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-card {
    opacity: 0;
}

.btn-admin {
    animation: fadeInAnimation ease-in-out 0.5 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-cashier {
    animation: fadeInAnimation ease-in-out 0.5 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-ceo {
    animation: fadeInAnimation ease-in-out 0.5 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-front {
    animation: fadeInAnimation ease-in-out 0.5 1.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-jo {
    animation: fadeInAnimation ease-in-out 0.5 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.btn-tech {
    animation: fadeInAnimation ease-in-out 0.5 2.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.border-admin {
    border-bottom: 2px #c1a1d3 solid;
}

.border-cashier {
    border-bottom: 2px #91c788 solid;
}

.border-ceo {
    border-bottom: 2px #fed049 solid;
}

.border-front {
    border-bottom: 2px #ffba93 solid;
}

.border-jo {
    border-bottom: 2px #8ab6d6 solid;
}

.border-tech {
    border-bottom: 2px #adb36e solid;
}

.border-top-admin {
    border-top: 1px #c1a1d3 solid;
}

.border-top-cashier {
    border-top: 1px #91c788 solid;
}

.border-top-ceo {
    border-top: 1px #fed049 solid;
}

.border-top-front {
    border-top: 1px #ffba93 solid;
}

.border-top-jo {
    border-top: 1px #8ab6d6 solid;
}

.border-top-tech {
    border-top: 1px #adb36e solid;
}

.border-all-admin {
    border: 2px #c1a1d3 solid;
}

.border-all-cashier {
    border: 2px #91c788 solid;
}

.border-all-ceo {
    border: 2px #fed049 solid;
}

.border-all-front {
    border: 2px #ffba93 solid;
}

.border-all-jo {
    border: 2px #8ab6d6 solid;
}

.border-all-tech {
    border: 2px #adb36e solid;
}

.text-admin {
    color: #c1a1d3;
}

.btn-admin-alt {
    background-color: #c1a1d3 !important;
    color: white !important;
}

.btn-admin-alt:hover {
    background-color: #14274e !important;
    color: #c1a1d3 !important;
    border-color: #c1a1d3 !important;
}

.text-cashier {
    color: #91c788;
}

.btn-cashier-alt {
    background-color: #91c788 !important;
    color: white !important;
}

.btn-cashier-alt:hover {
    background-color: #14274e !important;
    color: #91c788 !important;
    border-color: #91c788 !important;
}

.text-ceo {
    color: #fed049;
}

.btn-ceo-alt {
    background-color: #fed049 !important;
    color: white !important;
}

.btn-ceo-alt:hover {
    background-color: #14274e !important;
    color: #fed049 !important;
    border-color: #fed049 !important;
}

.text-front {
    color: #ffba93;
}

.btn-front-alt {
    background-color: #ffba93 !important;
    color: white !important;
}

.btn-front-alt:hover {
    background-color: #14274e !important;
    color: #ffba93 !important;
    border-color: #ffba93 !important;
}

.text-jo {
    color: #8ab6d6;
}

.btn-jo-alt {
    background-color: #8ab6d6 !important;
    color: white !important;
}

.btn-jo-alt:hover {
    background-color: #14274e !important;
    color: #8ab6d6 !important;
    border-color: #8ab6d6 !important;
}

.text-tech {
    color: #adb36e;
}

.btn-gold {
    color: #14274e !important;
    background-color: #f0b917 !important;
    border-color: #f0b917 !important;
}

.btn-gold:hover {
    color: #f0b917 !important;
    background-color: #14274e !important;
    border-color: #14274e !important;
}

.btn-gold-2 {
    color: #14274e !important;
    background-color: #f0b917 !important;
}

.btn-gold-2:hover {
    color: #f0b917 !important;
    background-color: transparent !important;
}

.btn-tech-alt {
    background-color: #adb36e !important;
    color: white !important;
}

.btn-tech-alt:hover {
    background-color: #14274e !important;
    color: #adb36e !important;
    border-color: #adb36e !important;
}

.bg-navy {
    background-color: #14274e !important;
}

.bg-dark-navy {
    background-color: #0b162a !important;
}

.bg-gold {
    background-color: #f0b917 !important;
}

.text-gold {
    color: #f0b917 !important;
}

.text-navy {
    color: #14274e !important;
}

.active {
    color: white !important;
}

.nav-active {
    background-color: #fff;
    color: #14274e !important;
    border-right: 2px #14274e solid;
}

.nav-item a {
    color: #fff;
}

.nav-item:hover * {
    animation: fadeInAnimation ease 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hover-admin:hover {
    color: #fff !important;
    background-color: #c1a1d3 !important;
}

.hover-cashier:hover {
    color: #fff !important;
    background-color: #91c788 !important;
}

.hover-ceo:hover {
    color: #fff !important;
    background-color: #fed049 !important;
}

.hover-front:hover {
    color: #fff !important;
    background-color: #ffba93 !important;
}

.hover-jo:hover {
    color: #fff !important;
    background-color: #8ab6d6 !important;
}

.hover-tech:hover {
    color: #fff !important;
    background-color: #adb36e !important;
}

#background {
    background-image: url(../assets/Images/Customer/cube.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tint {
    background-color: rgba(0, 0, 0, 0.8);
}

.zoom:hover {
    transform: scale(1.5);
}

.zoom {
    display: block;
    transition: transform 0.75s;
    font-size: 5rem;
}
